* {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.whole {
    padding: 20px;
}
h1 {
    text-align: center;
    margin: 0px;
    font-size: 72px;
    color: #bd4935;
    padding-bottom: 15px;
}
.carousel-item {
    height: 620px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-radius: 20px;
}
.text {
    background-color: #bd4935;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    padding: 20px 70px 5px 70px;

    font-weight: lighter;
    font-size: 12pt;
}
.bio {
    color: white;
    padding: 50px 150px;
}
strong {
    font-weight: bold;
    font-size: 14pt;
    color: #fae669;

}
.quote {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}
p {
    color: white;
    padding: 50px 150px;
    text-align: center;
}
a {
    color: #fae669;
}